body{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    text-align: center;
}
.container{
    margin: auto;
    width: 80%;
    height: 500px;
    background-color: cadetblue;
    border: 5px solid white;
}
#main div{
    width: 200px;
    height: 200;
}
.box1{
    background-color: #6499E9;
}
.box2 {
    background-color: #9EDDFF;
}
.box1 {
    background-color: #6499E9;
}
.box1 {
    background-color: #9EDDFF;  
}
