body{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
    text-align: center;
}
.container{
    margin: auto;
    width: 80%;
    height: 1600px;
    background-color: cadetblue;
    border: 5px solid white;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center ;
}
.box{
    width: 200px;
    height: 200px;
}
.box1{
    background-color: #2E4374;
}
.box2 {
    background-color: #4B527E;
}
.box3 {
    background-color: #7C81AD;
}
.box4 {
    background-color: #E5C3A6;  
}
.box5 {
    background-color:#4B527E;
}
.box6 {
    background-color: #7C81AD;
}
